.container {
    box-sizing: border-box;
    width: 900px;
    height: 90px;
    display: grid;
    grid-template: 1fr / 70px repeat(5, 1fr);
    text-align: left;
    /* justify-items: center; */
    align-items: center;
    padding: 15px;
    font-size: 12px;
    color: #212529;
    border-bottom: 1px solid #146C94;
    margin: 10px;
}
.detailsContainer {
    box-sizing: border-box;
    width: 900px;
    /* height: 90px; */
    display: flex;
    text-align: left;
    justify-items: center;
    align-items: center;
    padding: 15px;
    font-size: 12px;
    color: #212529;
    border-bottom: 1px solid #146C94;
    margin: 10px;

}

.column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    }



.image {
    width: 60px;
    height: 60px;
}

.detailsImage {
    width: 160px;
    height: 160px;
}

.text {
    font-weight: bolder;
}



.redchange, .greenchange {
    font-weight: bold;
}

.redchange {
    color: red;
}

.greenchange {
    color: green;
}

.marketCap {
    font-weight: 300;
}